body {
    background-image: url(https://golfdigest.sports.sndimg.com/content/dam/images/golfdigest/fullset/2015/08/04/55c0de53b01eefe207f8ec81_tpc-sawgrass-players-course-17.jpg.rend.hgtvcom.966.644.suffix/1573512224472.jpeg);
    background-repeat: none;
    background-size: cover;
 }

 h1 {
     color: white;
     margin-top: 30px;
     font-style: italic;
 }

 #AboutMe {
     font: white;
     height: 400px;
     length: 70 px;
     margin-top: 50px;
     float: left;
     margin-left: 50px;
     font-style: italic;
 }

 #aboutphoto {
     height: 300px;
     length: 250px;
     float: left;
     margin: 10px;
 }

 #aboutmetext {
     font-size: medium;
     color: white;
     font-weight: bold;
     margin: 10px;
     font-style: italic;
 }

 .contactcontainer {
     background-color: white;

 }

 #contact {
    height: 250px;
    length: 50px;
    margin-top: 50px;
    margin-left: 50px;      
    float: left;
 }

 h2 {
     color: white;  
 }

 #card {
     margin: 10px,10px
     margin-left: 10px;
     float: left;
 }