body {
    background-image: url(https://www.ciderridgegolf.com/images/slideshow/slide4.jpg);
    background-repeat: none;
    background-size: cover;
 }

 h1 {
     color: white;
     margin-top: 30px;
     font-style: italic;
 }

 #AboutMe {
     font: white;
     height: 400px;
     length: 70 px;
     margin-top: 50px;
     float: left;
     margin-left: 50px;
     font-style: italic;
 }

 #aboutphoto {
     height: 300px;
     length: 250px;
     float: left;
     margin: 10px;
 }

 #aboutmetext {
     font-size: medium;
     color: white;
     font-weight: bold;
     margin: 10px;
     font-style: italic;
 }

 .contactcontainer {
     background-color: white;

 }

 #contact {
    height: 250px;
    length: 50px;
    margin-top: 50px;
    margin-left: 50px;      
    float: left;
 }

 h2 {
     color: white;  
 }

 #card {
     margin: 10px,10px;
     float: left;
 }